@import url("common.css");

.image-container {
  background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}


main {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(55, 55, 55);
}

main h1 { font-size: 32px; margin: 0 0 16px; }
main h2 { font-size: 24px; margin: 0 0 12px; font-weight: 600; }
main h3 { font-size: 20px; margin: 24px 0 10px; font-weight: 600; }
main h4 { font-size: 18px; margin: 12px 0 10px; font-weight: 500; }

main p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 16px;
}

main ul {
  padding-top: 10px;
  margin-left: 1.5em;
  margin-bottom: 16px;
}

main li {
  color: rgb(85, 85, 85);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  height: auto;
}


.req-tag {
  color: #b11226;
  font-weight: 600;
  font-size: 0.9em;
  margin-left: 6px;
  white-space: nowrap;
}
